<h3>
  <label style="text-align:center;">Choose your Nickname... the coolest it is, the coolest you are!
    <input style="text-align:center;" #searchBox id="user.username" placeholder="username">
  </label>
</h3>
<h1></h1>
<h3>
  <label style="text-align:center;">What about your email so we'll keep connected?!
    <input style="text-align:center;" #searchBox id="user.email" placeholder="email">
  </label>
</h3>
<h1></h1>
<h3>
  <label style="text-align:center;">Don't forget to keep your password safe..!
    <input style="text-align:center;" #searchBox id="user.password" placeholder="password">
  </label>
</h3>
<h1></h1>